* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .board-row {
    display: flex;
  }

  .square {
    width: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
  }